select {
    box-sizing: border-box;
    width: 75%;
    margin: 8px 0 0 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
}

.panel > fieldset.description {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    border: 1px solid #999999;
    text-align: right;
    font-size: 16px;
}

fieldset.description > .row:last-child {
    border-bottom: none !important;
}

fieldset.description > p {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 42px 10px 10px 10px;
    background: none;
    color: grey;
    text-align: left;
}

fieldset.description > label {
    position: absolute;
    margin: 0 0 0 14px;
    line-height: 42px;
    font-weight: bold;
}

.row > p {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 12px 10px 0 110px;
    height: 42px;
    background: none;
    color: grey;
}

span.smallgrey {
	    box-sizing: border-box;
    margin: 0;
    border: none;
    height: 32px;
    background: none;
    color: grey;
	font-size: 14px;
}
